/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Wrapper Styles */
.site-wrapper{
	/* margin: 0 30px; */
	width: 100%;
}

/* Global Style Classes */
.flex-container{
	display: flex;
	justify-content: space-between;
}

.horizontal{
	flex-direction: row;
}

.vertical{
	flex-direction: column;
}

/* Navigation Styles */
.site-navigation{
    flex-direction: column;
    line-height: 2.5em;
    /* margin: 0 30px; */
    padding: 30px 0;
}

#nav-link-container{
    flex-direction: column;
    align-items: center;
}

#nav-link-container a{
    border-top: 1px solid black;
    color: #f08710;
    font-family: 'Bellota';
    text-align: center;
    text-decoration: none;
    width: 100%;
}

#nav-link-container a:last-of-type{
    border-bottom: 1px solid black;
}

#nav-link-container a:before{
	content: '';
	position: relative;
	top: 0;
	left: 40px;
	transition: all .2s ease-in-out;
}

#nav-link-container a:hover:before{
	content: '<';
	top: 0;
	left: 0;
}

#nav-link-container a:after{
	content: '';
	position: relative;
	top: 0;
	right: 40px;
	transition: all .2s ease-in-out;
}

#nav-link-container a:hover:after{
	content: '>';
	top: 0;
	right: 0;
}

#logo-container{
    justify-content: center;
    order: -1;
    padding-bottom: 20px;
}

/* Hero Styles */
.hero{
    border-bottom: 1px solid black;
    font-size: 4em;
    padding-bottom: 70px;
}

.hero div.flex-container:first-of-type{
    justify-content: center;
}

#hero-img{
    display: none;
}

#hero-text{
    text-align: center;
}

#call-to-action{
    background: none;
    border: 1px solid black;
    height: 30px;
}

/* Content Styles */
.content{
    border-bottom: 1px solid black;
    padding: 30px 30px;
}

.content h2{
    color: rgb(117, 5, 145);
}

.content .flex-container{
    flex-direction: column;
}

.content .flex-container div{
    padding: 20px 0 30px 0;
}

/* Contact Styles */
#contact{
    padding: 60px 30px;
}

#contact-address p:nth-of-type(3){
    margin: 20px 0;
}

/* Footer Styles */
.page-footer{
    justify-content: center;
}

/* Tablets */
@media (min-width: 500px){
    /* Navigation Styles */
    #nav-link-container{
        flex-direction: row;
    }

    #nav-link-container a, #nav-link-container a:last-of-type{
        border: none;
    }

    /* Content Styles */
    .content .flex-container{
        flex-direction: row;
        padding-right: 15px;
    }
}

/* Desktop */
@media (min-width: 800px){
    /* Navigation Styles */
    .site-navigation{
        background-image: linear-gradient(120deg, #fcc258 0%, #ffb222 30%, #ffb922 60%, #fc8f01 100%);
        flex-direction: row;
        font-size: 1.1em;
        left: 0;
        height: 5em;
	    line-height: 2em;
	    padding: 0 15px;
        position: fixed;
        top: 0;
        width: 100%;
    }

    #nav-link-container a{
        color: rgb(255, 255, 255);
        line-height: 4.5em;
    }
    
    #logo-container{
        order: 1;
    }

    /* Hero Styles */
    .hero{
        margin: 80px 0;
    }

    .hero div{
        justify-content: space-between;
    }

    #hero-img{
        display: inline-block;
    }
}